*,
*:before
*:after {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

h2 {
    margin-left: 400px;
    margin-bottom: 400px;
}
span {
    margin-left: 300px;
    margin-right: 300px;

}

div {
    margin-top: 100px;
    margin-left: 500px;
    margin-right: 0px;
    margin-bottom: 100px;
    display: block;
    border: dotted;
    padding: 100px;
}

p {
    margin-left: 1000px;
    border: solid;
    border-color: firebrick
    padding: 80px;
    padding-top: 180px; 
    padding-bottom: 180px;
}