*,
*:before
*:after {
    
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

h3 {
    text-align: center;
    width: 1000px;
}
nav {
    font-size: 14px; 
}

p{
    text-align: center;
}

div {
    display: inline-block;
    padding: 20px;
}
