*,
*:before
*:after {
    
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

h3 {
    text-align: center;
    width: 50%;
    margin:auto;
}
nav {
    font-size: 14px; 
}

p{
    width:50%;
    margin: auto;
    text-align: center;
}

.one {
    display: inline-block;
}
.wrapping {
    text-align: center;
    width: 50%;
    margin: auto;
}
