/*

CSS DRAWINGS s2018

* * * * * * * * * * * * * * * * * *

Full CSS Reset

http://meyerweb.com/eric/tools/css/reset/ 2. v2.0 | 20110126
  License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}


/*
  ========================================
  Box model reset
  ========================================
*/

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

/*
  ========================================
  Grid
  ========================================
*/

.canvas {
    display: block;
    position: relative;
    background-color: rgb(240,240,240);
    border: solid 20px rgb(245,245,245);
    box-shadow: 15px 15px 25px #6075C7;
    margin: 60px auto;
    padding: 20px;
    width: 900px;
    height: 600px;
}

/*
  ========================================
  General
  ========================================
*/

body{
    background-color: #C76060;
}

/*
    ======================================
    ======================================
*/

.head {
    position: absolute;
    left: 25%;
    width: 50%;
    height: 80%;
    top: 10%;
    background: #FAA060;
    border-radius: 100%;
    z-index: 1;
}

.mouth {
    position: absolute;
    left: 40%;
    top: 47%;
    width: 20%;
    height: 30%;
    background: #F5756F;
    border-radius: 100%;
    z-index: 2;
    
}
.mouth2 {
    position: absolute;
    left: 41%;
    top: 50%;
    width: 18%;
    height: 27%;
    background: #EA544C;
    border-radius: 100%;
    z-index: 3;
}

.chin {
    position: absolute; 
    width: 13%;
    height: 10%;
    background: #E67D37;
    left: 44%;
    top: 80%;
    border-radius: 50%;
    z-index: 4;
}
.chinm {
    position: absolute; 
    width: 13%;
    height: 9%;
    background: #FAA060;
    left: 44%;
    top: 80%;
    border-radius: 50%;
    z-index: 4;
    
}

.hairtop {
    position: absolute;
    width: 50%;
    height: 25%;
    background: #EEDD71;
    transform: rotate(6deg);
    top: 2%;
    left: 26%;
    border-radius: 40%;
    z-index: 3;
        
}

.hairsideleft {
    position: absolute; 
    width: 15%; 
    height: 45%; 
    background: #EEDD71;
    transform: rotate(4deg);
    top: 8%; 
    left: 20%; 
    border-radius: 40%; 
    z-index: 2;
}

.hairsideright {
    position: absolute; 
    width: 10%; 
    height: 35%; 
    background: #EEDD71;
    transform: rotate(170deg);
    top: 15%; 
    left: 68%; 
    border-radius: 40%; 
    z-index: 2;
}

.eyeleft {
    position: absolute; 
    width: 9%;
    height: 5%; 
    width: 3.5%; 
    background: olive; 
    top: 38%;
    left: 38%;
    border-radius: 40%;
    z-index:3;
    
}

.eyeright {
    position: absolute; 
    width: 9%;
    height: 5%; 
    width: 3.5%; 
    background: olive; 
    top: 38%;
    left: 57%;
    border-radius: 40%;
    z-index:3;
    
}

.eyebrowleft {
    position: absolute; 
    width: 40%;
    height: 2%; 
    width: 3.5%; 
    transform: rotate(10deg);
    background: #EEDD71; 
    top: 34%;
    left: 38%;
    border-radius: 13%;
    z-index:3;
    
}

.eyebrowright {
    position: absolute; 
    width: 40%;
    height: 2%; 
    width: 3.5%; 
    transform: rotate(174deg);
    background: #EEDD71; 
    top: 34%;
    left: 57%;
    border-radius: 13%;
    z-index:3;
    
}