/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}


/*
  ========================================
  Grid
  ========================================
*/

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

/*
    ======================================
    Colors
    ======================================
*/
body#entrace{background-color:white;}

body#firstroom{background-color:black;}

body#telivision{background-color:black;}

body#bedroom{background:linear-gradient(to top, #fdfcfb, #e2d1c3);
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;}

body#outofbed{background:linear-gradient(to top, #fdfcfb, #e2d1c3);
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;}

body#asleep{background-color:black;}

body#backdown{background-color:black;}

body#bathroom{background-color:#DFDCDA;}

body#kitchen{
    background:linear-gradient(to top, #feada6, #f5efef);
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;}
body#fridge{
    background:linear-gradient(to top, #fdfbfb, #ebedee);
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;}
body#backkitchen{
    background:linear-gradient(to top, #feada6, #f5efef);
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;}


a:link {
    color: black; 
    text-decoration: none;
}
a:visited {
    color: black;
    text-decoration: none;
}
a:active {
    color: black;
    
    text-decoration: none;
}
/* 
========================================
GREETING SETTINGS AND SHOES
========================================
*/

.greetings {
    display: block;
    margin: auto;
    font-family: 'Noto Serif', serif;
    width: 100%;
    height: 100%;
}


p.gone {
    font-size: 80px;
    position: absolute; 
    left: 20%;
    top: 4%;
}
p.gtwo {
    font-size: 48px;
    position: absolute; 
    left: 10%;
    top: 23%;
}
p.gthree {
    font-size: 40px;
    position: absolute; 
    left: 20%;
    top: 40%;
}
p.gfour {
    font-size: 40px;
    position: absolute; 
    left: 79%;
    top: 20%;
}
p.gfive {
    font-size: 12px;
    position: absolute; 
    left: 10%;
    top: 30%;
}
p.gsix {
    font-size: 124px;
    position: absolute; 
    left: 20%;
    top: 80%;
}
p.gseven {
    font-size: 20px;
    position: absolute; 
    left: 90%;
    top: 78%;
}

p.gnine {
    font-size: 40px;
    position: absolute; 
    left: 65%;
    top: 39%;
}
p.gten {
    font-size: 90px;
    position: absolute; 
    left: 74%;
    top: 50%;
}
p.geleven {
    font-size: 35px;
    position: absolute; 
    left: 69%;
    top: 500%;
}
p.gtwelve {
    font-size: 60px;
    position: absolute; 
    left: 7%;
    top: 60%;
}
.shoes {
    display: block;
    margin: auto;
    width: 25%;
    margin-top: 16%;
   
}
/* 
========================================
FIRSTROOM PLACEMENTS
========================================
*/
.sithere {
    position: absolute; 
    font-size: 150px;
    font-family: 'Quicksand', sans-serif;
    left: 20%; 
    top: 60%;
    letter-spacing: -12px;
}
.chairarm1 {
    position: absolute; 
    font-size: 150px;
    font-family: 'Quicksand', sans-serif;
    left: 13%; 
    top: 68%;
}
.chairarm2 {
    position: absolute; 
    font-size: 150px;
    font-family: 'Quicksand', sans-serif;
    left: 48.5%; 
    top: 68%;
}
.couch {
    position: absolute; 
    font-size: 150px;
    font-family: 'Quicksand', sans-serif;
    left: 20.5%; 
    top: 76.5%;
    letter-spacing: 18px;
}
.stairs1 {
    font-family: 'Roboto', sans-serif;
    position: absolute;
    font-size: 100px;
    left: 50%;
    top: 30%;
}
.stairs2 {
    font-family: 'Roboto', sans-serif;
    position: absolute;
    font-size: 100px;
    left: 56%;
    top: 25%;
}
.stairs3 {
    font-family: 'Roboto', sans-serif;
    position: absolute;
    font-size: 100px;
    left: 63%;
    top: 18%;
}
.stairs4 {
    font-family: 'Roboto', sans-serif;
    position: absolute;
    font-size: 100px;
    left: 70.3%;
    top: 14%;
    
}
.stairs5 {
    font-family: 'Roboto', sans-serif;
    position: absolute;
    font-size: 100px;
    left: 75%;
    top: 9%;
}
.stairs6 {
     font-family: 'Roboto', sans-serif;
    position: absolute;
    font-size: 100px;
    left: 81.5%;
    top: 3%;
}
.hungry a{
    font-family: 'Merriweather', serif;
    position: absolute; 
    font-size: 20px;
    left: 70%;
    top: 50%;
    text-align: center;
   
}
/*
=======================================
TELEVISION placement
=======================================
*/
.video {
    position: absolute;
    margin: auto;
    left: 32%;
    top: 25%;
}
.consume {
    font-family: 'Special Elite', cursive;
    font-size: 50px;
    color: white;
    position: absolute;
    left: 23%;
    top: 72%;
}
.getup a {
    font-family: 'Merriweather', serif;
    font-size: 20px;
    color: white;
    position: absolute;
    left: 45%;
    top: 20%;
}
/*
=======================================
BEDROOM PLACEMENTS
=======================================
*/
.bed {
    font-size: 400px; 
    font-family: 'Baumans', cursive;
    color: #F5E6D9;
    position: absolute; 
    left: 3%;
    top: 55%;
   
}
.naturecall {
    font-family: 'Merriweather', serif;
    color: #F5E6D9;
    font-size: 15px;
    position: absolute;
    left: 80%;
    top: 10%;
}
.bedcopy {
    font-size: 400px; 
    font-family: 'Baumans', cursive;
    position: absolute; 
    left: 3%;
    top: 55%;
   
}
.naturecallcopy {
    font-family: 'Merriweather', serif;
    
    font-size: 15px;
    position: absolute;
    left: 80%;
    top: 10%;
}
.downstairs {
    font-family: 'Merriweather', serif;
    font-size: 15px;
    position: absolute;
    left: 85%;
    top: 90%;
}
/*
========================================
            fridge
========================================
*/
.resist a {
    position:absolute;
    top:3%;
    left:3%;
    font-family: 'Merriweather', serif;
    font-size: 12px;
}
    
    
.crust {
    background:#FBEAAB;
    position: absolute;
    margin-left: 27%;
    margin-top: 10%;
    width: 45%;
    height: 70%;
    border-radius: 100%;
    z-index: 1;
}
.cheese {
    background:#FFF9CC;
    position: absolute;
    margin-left: 31%;
    margin-top: 13%;
    width: 37%;
    height: 60%;
    border-radius: 100%;
    z-index: 2;
}
.pepperoni1 {
    background:#E04C4C;
    position: absolute;
    left: 45%;
    top: 25%;
    width: 9%;
    height: 15%;
    border-radius: 100%;
    z-index: 3;
}
.pepperoni2 {
    background:#E04C4C;
    position: absolute;
    left: 34%;
    top: 34%;
    width: 9%;
    height: 15%;
    border-radius: 100%;
    z-index: 3;
}
.pepperoni3 {
    background:#E04C4C;
    position: absolute;
    left: 49%;
    top: 42%;
    width: 9%;
    height: 15%;
    border-radius: 100%;
    z-index: 3;
}
.pepperoni4 {
    background:#E04C4C;
    position: absolute;
    left: 35%;
    top: 52%;
    width: 9%;
    height: 15%;
    border-radius: 100%;
    z-index: 3;
}
.pepperoni5{
    background:#E04C4C;
    position: absolute;
    left: 50%;
    top: 64%;
    width: 9%;
    height: 15%;
    border-radius: 100%;
    z-index: 3;
}
.pepperoni6{
    background:#E04C4C;
    position: absolute;
    left: 58%;
    top: 52%;
    width: 9%;
    height: 15%;
    border-radius: 100%;
    z-index: 3;
}
/*
========================================
ANIMATIONS
========================================
*/ 
.greetings {
    color: black;
    animation-delay: 3s;
    animation-duration: 4s;
    animation-direction: normal;
    animation-fill-mode: forwards;
    animation-name: greetings;
    animation-iteration-count: 1;
}
   
@keyframes greetings {
  from {color: black;}
    to {color: white;}
}
/*===========ENTRANCETOROOM=====================
*/
.firstroomtrans {
    position: absolute;
    left: 49%;
    top: 50%;
    width: 1%;
    height: 1.5%;
    background: white;
    z-index: 2;
    animation-name: firstroomtrans;
    animation-direction: normal;
    animation-fill-mode: forwards;
    animation-duration: 10s;
    animation-iteration-count: 1;
}

@keyframes firstroomtrans{

99% {
    transform:scale(105);

}
    
    to {opacity:1;}
}
body#firstroom {
    animation-name: firstroomlight;
    animation-direction: normal;
    animation-fill-mode: forwards;
    animation-duration: 1s;
    animation-delay: 9s;
}
    @keyframes firstroomlight {
  from {background: black;}
    to {background: white;}
}

/*
=====================================
            Kitchen
=====================================
*/
.fr {
    font-family: 'Open Sans', sans-serif;
    color: #B3F4F8;
    position: absolute;
    font-size: 200px;
    left: 41%;
    top: 20%;
    letter-spacing: 10px;
}

.i {
    font-family: 'Open Sans', sans-serif;
    color: #B3F4F8;
    position: absolute;
    font-size: 200px;
    left: 41%;
    top: 39%;
    letter-spacing: 52px;
}
.d a{
    font-family: 'Open Sans', sans-serif;
    color: #B3F4F8;
    position: absolute;
    font-size: 200px;
    left: 50.3%;
    top: 39%;
    letter-spacing: 52px;
}
.ge {
    font-family: 'Open Sans', sans-serif;
    color: #B3F4F8;
    position: absolute;
    font-size: 200px;
    left: 40%;
    top: 58%;
    letter-spacing: -14px;
}

.imgood a{
    position:absolute;
    top:3%;
    left:3%;
    color: black;
    font-family: 'Merriweather', serif;
    font-size: 14px;
}

/*==============TV====================
*/
body#television {
    animation-name: 
}
.TVtransition {
    position: absolute; 
    width: 100%;
    height: 100%; 
     background: white;
    z-index: 2;
    animation-name: TVtransition;
    animation-direction: normal;
    animation-fill-mode: forwards;
    animation-delay: 2s;
    animation-duration: 6s;
    animation-iteration-count: 1;
}

    @keyframes TVtransition {
    
    0% {
        position: absolute; 
        width: 100%;
        height: 100%; 
        background: white;
        z-index: 2;
        }
    25% {position: absolute; 
        width: 100%;
        height: 75%; 
        top: 25%;
        background: white;}
  
    75% {position: absolute; 
        width: 100%;
        height: 25%; 
        top: 75%;
        background: white;}
    
    100% {
        background: black;
        width: 100%;
        height: 100%;
        top: 0%;
        z-index: 0;
        }
}
/*
==============STAIRS====================
*/
.bedroomtrans {
    position: absolute;
    margin-left: 15%;
    margin-top: 50%;
    width: 1%;
    height: 1.5%;
    background: black;
    z-index: 2;
    animation-name: bedroomtrans;
    animation-direction: normal;
    animation-fill-mode: forwards;
    animation-duration: 10s;
    animation-iteration-count: 1;
}

@keyframes bedroomtrans {
    20% {margin-left: 25%;
        margin-top:50%}
    40% {margin-top: 40%;
        margin-left:25%}
    60% {margin-left: 35%;
        margin-top: 40%}
    80% {margin-top: 30%;
        margin-left: 35%}
    100% {margin-left: 45%;
        margin-top:30%;
        background: #F5E6D9;}
    
}
.bed a {
    opacity: 0;
    animation-name: bedappear;
    animation-direction: forwards;
    animation-delay: 6s;
    animation-duration: 9s;
    animation-iteration-count:1;
    animation-fill-mode: forwards;
}
@keyframes bedappear {
    from {opacity: 0;}
    to {opacity: 1;}
}

.naturecall a {
    opacity: 0;
    animation-name: bathroomappear;
    animation-direction: forwards;
    animation-delay: 6s;
    animation-duration: 9s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
@keyframes bathroomappear {
 from {opacity: 0;}
    to {
    opacity: 1;}
}
    
.goingdown {
    position: absolute;
    margin-left: 80%;
    margin-top: 10%;
    width: 1%;
    height: 1.5%;
    background: white;
    z-index: 3;
    animation-name: goingdown;
    animation-direction: normal;
    animation-fill-mode: forwards;
    animation-duration: 10s;
    animation-iteration-count: 1;
}

@keyframes goingdown {
    20% {margin-left: 70%;
        margin-top: 10%;}
    40% {margin-left: 70%;
        margin-top: 20%;}
    60% {margin-top: 20%;
        margin-left: 60%;}
    80% {margin-top: 30%;
        margin-top: 60%;}
    100% {margin-top: 30%;
        margin-left: 50%;}
}

body#backdown {
    color: white;
    animation-name: backdownappear;
    animation-direction: forwards;
    animation-delay: 3s;
    animation-duration: 10s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    z-index: 4;
}

@keyframes backdownappear {
    from{background-color: black;}
    to{background-color: white;}
}

/*==========asleep===============*/
.dialogue {
    margin: auto;
    width: 50%;
    height: 5%;
    margin-top:20%;
    text-align: center;
    color: black;
    font-family: 'Volkhov', serif;
    font-size: 30px;
}

.sent1{
    animation-direction: forwards;
    animation-delay: 1s;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-name: sent1;
}

@keyframes sent1{
    from{color:black;}
    to{color:white;}
}
.sent2{
    animation-direction: forwards;
    animation-delay: 2.5s;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-name: sent2;
}

@keyframes sent2{
    from{color:black;}
    to{color:white;}
}

.sent3{
    animation-direction: forwards;
    animation-delay: 3.5s;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-name: sent3;
}

@keyframes sent3{
    from{color:black;}
    to{color:white;}
}

.sent4{
    animation-direction: forwards;
    animation-delay: 5.5s;
    animation-duration: 3s;
    animation-iteration-count: 1;
    animation-name: sent4;
}

@keyframes sent4{
    from{color:black;}
    to{color:white;}
}

.sent5{
    animation-direction: forwards;
    animation-delay: 8.5s;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-name: sent5;
}

@keyframes sent5{
    from{color:black;}
    to{color:white;}
}
.sent6{
    animation-direction: forwards;
    animation-delay: 10.5s;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-name: sent5;
}

@keyframes sent6{
    from{color:black;}
    to{color:white;}
}

.sent7{
    animation-direction: forwards;
    animation-delay: 12.5s;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-name: sent7;
}

@keyframes sent7{
    from{color:black;}
    to{color:white;}
}

.sent8{
    animation-direction: forwards;
    animation-delay: 15.5s;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-name: sent8;
}

@keyframes sent8{
    from{color:black;}
    to{color:white;}
}

.sent9{
    animation-direction: forwards;
    animation-delay: 17.5s;
    animation-duration: 3s;
    animation-iteration-count: 1;
    animation-name: sent9;
}

@keyframes sent9{
    from{color:black;}
    to{color:white;}
}

.sent10{
    animation-direction: forwards;
    animation-delay: 22.5s;
    animation-duration: 3s;
    animation-iteration-count: 1;
    animation-name: sent10;
}

@keyframes sent10{
    from{color:black;}
    to{color:white;}
}

.spookysent{
    position:absolute;
    z-index: 2;
    font-family: 'Volkhov', serif;
    font-size: 13px;
    left: 55%;
    animation-direction: forwards;
    animation-delay: 10.5s;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-name: spookysent;
}

@keyframes spookysent{
    from{color:black;}
    to{color:white;}
}

.wakeup a{
    position:absolute;
    top:3%;
    left:3%;
    color: white;
   font-family: 'Merriweather', serif;
    font-size: 12px;
}

/*========bathroom=============
*/
.pee {
    position:relative;
    margin-top: 20%;
    text-align: center;
    transform: rotate(90deg);
    font-family: 'Pacifico', cursive;
    font-size: 30px;
    color: #FAFBC0;
    animation-fill-mode: forwards;
    animation-direction: forwards;
    animation-delay: 0s;
    animation-duration: 10s;
    animation-iteration-count: 1;
    animation-name: peeing;
}

@keyframes peeing {
    0%{margin-top: -80%;
        opacity:1;}
    95%{opacity:1;}
        100%{margin-top: 80%;
        opacity:0;}
        
}

body#bathroom {
    animation-delay: 1s;
    animation-duration: 17s;
    animation-iteration-count: 1;
    animation-name: peeingcolor;
    animation-fill-mode: forwards;
}

@keyframes peeingcolor {
    70%{background-color:#FAFBC0;}
    90%{background-color:#EFFDFF;}
    100%{background-color:#DFDCDA;}
}

.donepeeing {
    position: absolute; 
    left: 2%;
    top: 2%;
   font-family: 'Merriweather', serif;
}

/*=====================================
            Kitchen animations
 ===================================
*/
.kitchentrans {
    position: absolute;
    left: 0%;
    top: 50%;
    width: 2%;
    height: 3%;
    border-radius: 100%;
    background: white;
    z-index: 2;
    animation-name: kitchentrans;
    animation-direction: normal;
    animation-fill-mode: forwards;
    animation-delay: 0s;
    animation-duration: 10s;
    animation-iteration-count: 1;
}

@keyframes kitchentrans {
    0%{}
    100%{left: 40%;
        transform: scale(0);
        background:white;}
}

.kitchenappear {
    opacity: 0;
    animation-direction: normal;
    animation-fill-mode: forwards;
    animation-duration: 6s;
    animation-delay: 6s;
    animation-iteration-count: 1;
    animation-name: kitchenappear;
}
@keyframes kitchenappear {
    from{opacity: 0;}
    to{opacity: 1;}
}

.goingleft {
    position: absolute;
    left: 100%;
    top: 50%;
    width: 2%;
    height: 3%;
    border-radius: 100%;
    background: black;
    z-index: 2;
    animation-name: goingleft;
    animation-direction: normal;
    animation-fill-mode: forwards;
    animation-delay: 0s;
    animation-duration: 10s;
    animation-iteration-count: 1;
}

@keyframes goingleft {
    0%{}
    100%{left: 60%;
        transform: scale(0);
        background:black;}
}

.backleft {
    opacity: 0;
    animation-direction: normal;
    animation-fill-mode: forwards;
    animation-duration: 6s;
    animation-delay: 6s;
    animation-iteration-count: 1;
    animation-name: backleft;
}
@keyframes backleft {
    from{opacity: 0;}
    to{opacity: 1;}
}


/*
=========================================
RESPONSIVE LAYOUT
=========================================
*/

@media all and (max-width: 960px) {
    .col-1-3 {
        width: 100%;
    }
}